.use-keyboard-input {
  display: block;
  width: 90%;
  margin: 30px auto;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  height: calc(100vh - 380px);
  min-height: 300px;
}

.use-keyboard-input:focus {
  outline: none;
}


.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  user-select: none;
  transition: bottom 0.4s;
  background-image: url(./assets/wood-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.keyboard--hidden {
  bottom: -100%;
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 45px;
  width: 6%;
  max-width: 90px;
  margin: 3px;
  border-radius: 4px;
  border: none;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  text-shadow: slategray 2px 2px;
}

.keyboard__key:active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--press-active {
  background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
  width: 16%;
  max-width: 100px;
  font-size: 16px;
  font-weight: bold;
}

.keyboard__key--caps-wide {
  width: 16%;
  max-width: 100px;
  font-size: 16px;
  font-weight: bold;
}

.keyboard__key--extra-wide {
  width: 36%;
  max-width: 500px;
  min-width: 80px;
}

.keyboard__key--activatable::after {
  content: '';
  top: 3px;
  right: 3px;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.keyboard__key--active::after {
  background: #08ff00;
}

.keyboard__key--inverse {
  background: rgba(255, 255, 255, 0.3);
}


@media (max-width: 700px) {

  .use-keyboard-input {
    font-size: 14px;
    font-weight: normal;
  }

  .keyboard__key {
    min-width: 11.2px;
    width: 4%;
    font-size: 14px;
    font-weight: normal;
  }

  .keyboard__key--wide {
    min-width: 40px;
    width: 12%;
    font-size: 14px;
    font-weight: normal;
  }

  .keyboard__key--caps-wide {
    min-width: 76px;
    width: 12%;
    font-size: 14px;
    font-weight: normal;
  }

  .keyboard__key--extra-wide {
    width: 36%;
  }

}
